[submodule "xcvr-emu"]
	path = xcvr-emu
	url = https://github.com/gsoosk/xcvr-emu
	branch = sonic-dev
[submodule "CodeWeaver"]
	path = CodeWeaver
	url = https://github.com/gsoosk/CodeWeaver
	branch = V2
[submodule "sonic-platform-daemons"]
	path = sonic-platform-daemons
	url = https://github.com/gsoosk/sonic-platform-daemons
	branch = sonic-xcvrd-rust
